---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const pageTitle = "关于我";
const identity = {
  firstName: "yishui",
  country: "China",
  occupation: "coder",
  hobbies: ["Reading", "Cycling", "movie"],
};

const skills = ["C++", "Algorithm", "Writing","SomethingMisc"];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
---

<html lang="zh">
  <head>
    <meta charset ="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
	<style define:vars={{skillColor,fontWeight,pageTitle}}>
		h1 {
		  color: rgb(72, 126, 234);
		  font-size: 2rem;
		}
		.skill {
		  color: var(--skillColor);
		  font-weight: var(--fontWeight);
		}
		.pageTitle {
			color: rgb(72, 126, 234);
		}
	</style>
	
	<p>以下是关于我的几个事实^_^</p>
	<ul>
	<li>我的名字是{identity.firstName}.</li>
	<li>我住在{identity.country}。我的职业是{identity.occupation}。</li>
	{identity.hobbies.length >= 2 &&
		<li>我的两个习惯：{identity.hobbies[0]}和{identity.hobbies[1]}</li>
	}
	</ul>
	<p>我的技能是：</p>
	<ul>
	{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
	<Footer />
	<script>
		import "../scripts/menu.js";
	  </script>
  </body>
</html>